body{
    background-color: #706d6d
}
.bg1{
    background-color: #dddddd;
    margin:10px 200px;
}
.one{
 background-color: #ad3a3a;
 background-size: auto;
 max-width:500px;
    height:300px;
 margin:0 auto;
}
 .one h1{
padding-top:250px;
 }

.two{
    background-image: url(../Corgi.jpg) ;
    margin:0 auto;
    background-color: #706d6d;
    background-repeat: no-repeat; 
    max-width:500px;
    height:300px;
    background-size:600px 400px;
    color:#dddddd ;
}
.two h1{
    padding-top:250px;
}
.three{
    background-image: url(../Corgi.jpg);
    margin:0 auto;
    background-color: #706d6d;
    background-repeat: no-repeat; 
    max-width:500px;
    height:300px;
    background-size:600px 400px;
    color:#dddddd ;
}
.three h1{
    padding-top:250px;
     }
.four{
    background-image: url(../Corgi.jpg);
    margin:0 auto;
    background-color: #706d6d;
    background-repeat: no-repeat; 
    max-width:500px;
    height:300px;
    background-size:600px 400px;
    color:#dddddd ;
}
.four h1{
    padding-top:250px;
     }